*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #fffbf2;
}


:root{
  --text-color: rgb(9, 57, 54);
}